.app {
  background-color: #2854C5;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  align-items: center;
}

.frame {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: center; */
  height: 92vh;
  width: 86%;
  margin-left: auto;
  margin-right: 20px;
  background-color: #F4F7FE;
  border-radius: 10px;
}

.window{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 150px;
  width: 20%;
}


.text-box {
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  height: auto;
  width: auto;
  font-size: 18px;
  background-color: #fff;

  font-weight: bold;
  /* background-color: #fff; */
  text-align: center;
}
